* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
    font-family: 'Arial';
    color: rgb(109, 109, 109);
}

.header {
    padding: 10px 10px 10px 0px;
    font-family: 'Trebuchet MS';
    background-color:rgb(4, 87, 87);
    color: rgb(4, 87, 87);
}

.header h1 {
    padding: 10px 10px 10px 20px ;
    background-color: rgb(158, 185, 185);
    display: inline-block;
    font-size: 40px;
}

.section {
    display: flex;
    align-items: flex-start;
    text-align: left;
}

.mainimage {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

h7 {
    position: absolute;
    padding: 10px 10px 10px 30px;
    background-color:  rgb(158, 185, 185);
    color: rgb(4, 87, 87);
    font-family: 'Trebuchet MS';
    font-size: 30px;
    top:80%;
    right:0px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 25px;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-left: 25px;
}

.a-nav {
    font-family: 'Gill Sans MT';
    color: rgb(158, 185, 185);
}

.supportimage {
    height: auto;
    max-width: 10%;
    margin: 0px 20px 0px 0px;
    border-radius: 200px;
    background-size: cover;
    background-position: center;
}

.sections {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
}

.sectionstest {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    text-align: left;
    padding-left: 20px;
}

.skillsimagecontainer {
    display:flex;
    flex-wrap: wrap;
}
.skillsimagesleft {
    flex:50%;
    margin: 0px 20px 0px 0px;
}

.skillsimagesright {
    margin: 0px 20px 0px 0px;
    flex:50%;
}

.container {
    display: flex;
    flex-direction:row;
    position:relative;
}

.containersupport {
    display: flex;
    flex-direction:column;
    position:relative;
}

.mainworkimageborder {
    border-style: solid;
    border-width:5px;
    border-color:  rgb(158, 185, 185);
    display: inline-block;

}

.mainworkimage {
    height: 450px;
    display: block;
    margin: 0px;
    background-size: cover;
    background-position: center;
    filter:brightness(70%);
}

.mainworkimage:hover {
    filter:brightness(100%);
}

.maintext {
    position: absolute;
    bottom: 20px;
    padding: 10px 10px 10px 30px;
    background-color:  rgb(158, 185, 185);
}

.supportworkimage1border {
    margin: 0px 100px 0px 47px;
    border-style: solid;
    border-width:5px;
    border-color:  rgb(158, 185, 185);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.supportworkimage1 {
    height: 240px;
    margin: 0px;
    background-size: cover;
    background-position: center;
    display:block;
    filter:brightness(70%);
}

.supportworkimage1:hover {
    filter:brightness(100%);
}

.supportworkimage2border {
    margin: 25px 100px 0px 47px;
    border-style: solid;
    border-width:5px;
    border-color:  rgb(158, 185, 185);
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.supportworkimage2 {
    height: 175px;
    max-width: auto;
    margin: 0px;
    background-size: cover;
    background-position: center;
    display:block;
    filter:brightness(70%);
}

.supportworkimage2:hover {
    filter:brightness(100%);
}

h2 {
    color: rgb(4, 87, 87);
    padding: 15px 15px 120px 84px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:right;
    font-size: 40px;
    border-right-style:solid;
    font-family: 'Gill Sans MT';
}

h4 {
    color: rgb(4, 87, 87);
    padding: 15px 15px 230px 107px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:right;
    font-size: 40px;
    border-right-style:solid;
    font-family: 'Gill Sans MT';
}

h5 {
    color: rgb(4, 87, 87);
    padding: 15px 15px 240px 95px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:right;
    font-size: 40px;
    border-right-style:solid;
    font-family: 'Gill Sans MT';
}

h6 {
    color: rgb(4, 87, 87);
    padding: 15px 15px 15px 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:right;
    font-size: 40px;
    border-right-style:solid;
    font-family: 'Gill Sans MT';
}

.topp {
    line-height: 140%
}

.supporttext1 {
    position: absolute;
    bottom: 20px;
    padding: 10px 10px 10px 30px;
    margin-left: 50px;
    background-color:  rgb(158, 185, 185);
}

.supporttext2 {
    position: absolute;
    margin-top:100px;
    bottom: 20px;
    padding: 10px 10px 10px 30px;
    margin-left: 50px;
    background-color:  rgb(158, 185, 185);
}

.bold {
    font-weight: bold;
    line-height: 110%;
    color: rgb(4, 87, 87);
    font-size: 20px;
}

.small {
    font-size: 10px;
}

h3 {
    color: rgb(4, 87, 87);
    padding: 15px 15px 10px 50px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:right;
    font-size: 40px;
    border-right-style:solid;
    font-family: 'Gill Sans MT';
}

.a-contact {
    font-family: 'Gill Sans MT';
    color:  rgb(4, 87, 87);
    font-size: 30px;
    margin-top: 23px;
    text-decoration:underline;
    text-underline-offset: 10px;
    text-decoration-color: rgb(158, 185, 185);
}

.vertical-align {
    margin-top: 39px;
}